body{
    background-color: rgb(249, 210, 209);
}

/* changing color of header bg */

header{
    background-color: rgb(243, 168, 167);
    padding: 20px;
    margin: 20px
}

p{
    color:rgb(189, 32, 26)
}

h1, h2, h3{
    text-decoration: underline;
}

section p{
    border: 2px solid rgb(203, 41, 41);
}