html{
    font-size: 14px;
}

main{
    margin: 0 1rem;
}

h1{
    font-size: 3rem;
}

h2{
    font-size: 2.5rem;
}

p{
    font-size: 1rem;
}

.bigger_veiwport{
    display: none;
}

img{
    width: 100%;
}

.learn{
    background-color: rgb(194, 207, 195);
    padding: 1rem;
}

iframe{
    width: 100%;
}

@media screen and (min-width:700px){
    html{
        font-size: 16px;
    }
    .small_veiwport{
        display: none;
    }
    .bigger_veiwport{
        display: block;
    }

    .banner{
        position: relative;
    }

    .banner_content{
        position: absolute;
        top: 40%;
        color: aliceblue;
        background-color: rgb(67, 96, 67);
    }
}